.galeriaprincipal{
    display: grid;
    grid-template-areas:
        'foto1'
        'foto2'
        'foto3'
        'foto4'
        'foto5'
        'foto6'
        'foto7'
        'foto8'
        'foto9'
        'foto10';
    grid-template-columns: repeat(1, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    margin-top: 5vh;
    width: 100px;    
}

@media only screen and (min-width: 600px) {
    .galeria {
        display: grid;
        grid-template-areas:
            'foto3 foto3 foto3 foto3 foto6 foto6 foto6 foto6'
            'foto10 foto10 foto10 foto4 foto4 foto1 foto1 foto1'
            'foto7 foto7 foto9 foto9 foto5 foto5 foto8 foto'
            'foto7 foto7 foto2 foto2 foto5 foto5 foto8 foto';
        grid-template-columns: repeat(8, auto);
        align-content: stretch;
        gap: 10px;
        padding: 0.5vw; }
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animacion{
    height: auto;
    transition: height 2s;
}

.animacion:hover{
    height: 250px;
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}

.foto7 {
    grid-area: foto7;
}

.foto8 {
    grid-area: foto8;
}

.foto9 {
    grid-area: foto9;
}

.foto10 {
    grid-area: foto10;

}